<div class="col-md-4">
</div>
<div class="new-main col-md-4">
	<h1>Log in page</h1>
	<%= form_for(:session, url: login_path) do |f| %> 
  	<%= f.email_field :email, :placeholder => "Email" %> 
  	<%= f.password_field :password, :placeholder => "Password" %> 
  	<%= f.submit "Log in", class: "btn-submit" %>
	<% end %>
	<p class="sign-link"><%= link_to "Sign up", signup_path %></p>
</div>
<div class="col-md-4">
</div>