        <div class=<%= add_books? %> id=<%=book.id%>>
          <div class="image-holder">
            <%= image_from_amazon(book.amazon_id) %>
          </div>
          <div class="info">
              <h3><%= book.title %></h3>
              <p class="pauthor"><%= book.author %><p>
              <p class="desc"><%= book.description %><p> 
              <% book.genres.each do |genre| %>
                <span class="label sgenre">
                    <%= link_to genre.name, '#' %>
            </span> 
              <% end %>
                <% if @action_buttons==1 %>
                  <%= button_to "Edit", edit_book_path(book), :method => "get", class: "btn btn-primary btn-action", remote: true%>
                <% end %>
                <% if @action_buttons==1||@action_buttons==3 %>
                  <%= button_to "Show", book, :method => "get", class: "btn btn-primary btn-action", remote: true %>
                  <%= button_to "Destroy", book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-action"%>
                  <% end %>
            </div>
        </div>