<div class="modal fade n-modal" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<div class="row r1">
  <div class="col-md-12">
    <h1>Welcome <%= session[:user_name] %> this is your personal book list</h1>
  </div>
</div>
<div class="row r2">
  <div class="col-md-7 main-list">
    <%= render @books %>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <legend>Search</legend>
        <input class="form-control" type="text" value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword'>
      </div>
    </form>
    <h3>Or choose your favourite genre</h3>
    <ul class="genre-list">
    <% @genres.each do |genre| %>
      <li><%= link_to genre.name,books_path(filter: genre.name) %></li>
    <% end %>
    </ul>
    <h3>Or make some other action</h3>
    <div id="n-book-btn"><%= link_to 'New Book', new_book_path, remote: true %></div>
    <% if current_user %> 
    <div id="n-book-btn"><%= link_to "Log out", logout_path, method: "delete" %></div>
    <% end %>

  </div>
</div>